body{
	padding: 0;
	margin: 0;
	background: #ddd;
}
#menu{
	background: #0075a1;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
}

#menu li{
	list-style: none;
	display: inline;
	margin-right: 40px;	
}
#menu li a{
	color: #fff;
	text-decoration: none;
}

#principal{
	width: 500px;
	margin:  auto;
}

.contenido{
	margin: 100px 0;
	border: 1px solid #ccc;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ccc;
	background: #fff;
}

input, textarea{
	border: 1px solid #ccc;
	padding: 10px 20px;
	width: 250px;
	border-radius: 5px;
}

textarea{
	height: 150px;
	resize: vertical;
}

input[type="submit"]{
	background: #0075a1;
	color: #fff;
	width: 290px;
	cursor: pointer;
}

input[type="submit"]:hover{
	opacity: 0.7;
}
fieldset{
	border: 1px solid #ccc;
	border-radius: 5px;
}
.contenido img{
	width: 400px;
	border-radius: 5px;
}
h2{
	padding-top:70px;
}